<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariExtensionHandler</string>
		<key>SFSafariToolbarItem</key>
		<dict>
			<key>Action</key>
			<string>Popover</string>
			<key>Identifier</key>
			<string>Button</string>
			<key>Image</key>
			<string>YouIcon.png</string>
			<key>Label</key>
			<string>Your Button</string>
		</dict>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Allowed Domains for Header Injection</key>
			<array>
				<string>www.you.com</string>
			</array>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>NSHumanReadableDescription</key>
	<string>When the extension is enabled on the Toolbar, it will redirect your searches from address bar to YOU.com. When it is disabled, searches will be redirected to your current search engine.</string>
	<key>CFBundleVersion</key>
	<string>1.1.2</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.2</string>
	<key>CFBundleName</key>
	<string>YouSearchExtension</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
